*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'textmeone';
  src: url(font/TextMeOne-Regular.ttf);
}

:root{
  --mainColor:#97a83f;
  --secondColor:#d8394c;
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #97a83f;
  user-select: none;
  font-family: 'textmeone';
  text-transform: uppercase;
  font-weight: bold;
}
h1{
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(202, 202, 202);
  border-radius: 5px;
  margin-bottom: 20px;
}
img{
  width: 100%;
  height: auto;
}

.container{
  width: 440px;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
  gap: 15px;
}
.flex{
  display: flex;
  gap: 10px;
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container--main{
  align-items: stretch;
}


.button{
  background-color: var(--secondColor);
  color: white;
  height: 35px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid black;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'textmeone';
  cursor: pointer;
  font-size: 15px;
}

.flex-column > .button{
  width: 100%;
}
.button--half{
  flex-basis: 50%;
}
.mode-options{
  width: 100%;
}
.mode-instruction{
  font-size: 15px;
  padding-left: 16px;
  height: 130px;
  border: 1px solid black;
  border-left:none ;
  border-right: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.instruction{
  position: absolute;
  top: 50%;
  transition: translate 1s;
  /* translate: 0px -50%; */
}
.instruction--mode2{
  translate: 300px -50%;
}
.instruction--mode1{
  translate: -300px -50%;
}
.show{
  translate: 0 -50%;
}
.display{
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 5px;
  height: 35px;
  align-items: center;
}
.display__time, .display__fails, .display__chances{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 75px;
}
.display__time--red{
  color: red;
}
.display__mode{
  background-color: black;
  padding: 3px 10px;
  color: white;
  border-radius: 5px;
}

.cent-seconds, .seconds{
  display: inline-block;
  width: 17px;
}
.seconds{
  text-align: right;
}
.display-image{
  width: 18px;
  margin-right: 3px;
}
.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.cards__place{
  width: 90px;
  height: 90px;
  background-color: #97a83f;
  border: 2px solid black;
  border-radius: 5px;
  position: relative;
}

.cards__front, .cards__back{
  background-color: white;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 5px;
  border: 2px solid black;
  padding: 10px;
  transition: transform .4s;
  backface-visibility: hidden;
}

.cards__back{
  transform: rotateY(180deg);
}
.cards__front{
  cursor: pointer;
}
.flip .cards__back{
  transform: rotateY(0deg);
}
.flip .cards__front{
  transform: rotateY(180deg);
}

.shuffle .cards__back{
  animation: .15s linear 5 alternate flipShuffle;
}
.shuffle .cards__front{
  animation: .15s linear 5 alternate flipShuffle2;
}
.shuffle .cards__back img{
  opacity: 0;
}

@keyframes flipShuffle {
  0%{
    transform: rotateY(0deg)
  }
  100%{
    transform: rotateY(180deg)
  }
}

@keyframes flipShuffle2 {
  0%{
    transform: rotateY(180deg)
  }
  100%{
    transform: rotateY(0deg)
  }
}

.modal{
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.932);
}
.container--modal{
  position: absolute;
  font-size: 25px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 310px;
  justify-content: space-between;
}

.bloqued{
  pointer-events: none;
}
.disabled{
  opacity: .3;
  pointer-events: none;
}
.unselected{
  opacity: .6;
}
.hits{
  filter: grayscale(1);
}
.hidden{
  visibility: hidden;
}
